<section class="banner">
  <div class="banner-image">
      <div class="container">
        <div class="banner-content">
          <h1 class="banner-title mb-4">WELCOME TO MY BLOG</h1>
            <p class="banner-text mb-5">I do a little bit of everything, ranging from coding and marketing to music and photography. Here you will find my collection of random skills and travel experiences.</p>
            <a class="btn btn-primary" href="/posts">Get Started</a>
        </div>
      </div>
  </div>
</section>
