<section class="skills-cards">
  <div class="container">
    <h1>My Interests</h1>
      <div class="cards">
        <div class="row">
          <div class="col-12 col-lg-4">
              <div class="card music mt-3 music-card h-100">
                <%= image_tag "music.jpg" %>
                <h2>Music</h3>
                  <p>Guitar and a little bit music production</p>
              </div>
            </div>
          <div class="col-12 col-lg-4">
            <div class="card web  mt-3 web-card h-100">
              <%= image_tag "web.jpg", class: "h100" %>
              <h2>Coding</h3>
                <p>Full stack web development</p>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="card photography mt-3 photography-card h-100">
              <%= image_tag "photography.jpg" %>
              <h2>Photography</h3>
                <p>I take some pictures of the places I visit</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
