<section-cards>
  <div class="container">
      <div class="images">
        <div class="row">
          <div class="col-lg-4 long-travel">
            <%= image_tag "walk.jpg", class: "walk-img" %>
            <h2>Travel</h2>
          </div>
        </div>
          <div class="col-lg-8 wide-photography">
            <%= image_tag "photography.jpg", class: "photography-img" %>
            <h2>photography</h2>
          </div>
          <div class="col-lg-6 coding">
            <%= image_tag "web.jpg", class: "coding-img" %>
            <h2>Coding</h2>
          </div>
          <div class="col-lg-6 music">
          <%= image_tag "music.jpg", class: "music-img" %>
          <h2>music</h2>
          </div>
      </div>
  </div>
</section-cards>
