<section-cards>
  <div class="container">
    <div class="images">
      <div class="long-travel">
        <%= image_tag "walk.jpg", class: "walk-img" %>
        <h2>Travel</h2>
      </div>
      <div class="wide-photography">
        <%= image_tag "photography.jpg", class: "photography-img" %>
        <h2>photography</h2>
      </div>
      <div class="coding">
        <%= image_tag "web.jpg", class: "coding-img" %>
        <h2>Coding</h2>
      </div>
      <div class="music">
        <%= image_tag "music.jpg", class: "music-img" %>
        <h2>music</h2>
      </div>
    </div>
  </div>
</section-cards>
