<div class="container">
  <div class="navbar">
    <%= image_tag "logo.png", class: "logo" %>
    <nav>
      <ul class="mt-3" id="menuList">
        <li><%= link_to "Posts", posts_path %></li>
        <li><%= link_to "About", posts_path %></li>
      </ul>
    </nav>
    <img src="/images/menu.svg" class= "menu-icon" onclick="togglemenu()">
  </div>
</div>
<script>

  var menuList = document.getElementbyId("menuList");

  menuList.style.maxHeight = "0px";

  function togglemenu(){

    if(menuList.style.maxHeight == "0px")
      {
        menuList.style.maxHeight = "130px"
      }
    else
      {
        menuList.style.maxHeight = "0px"
      }
  }

  </script>
