<div class="container">
  <div class="navbar">
    <%= image_tag "logo.png", class: "logo" %>
    <nav>
      <ul class="mt-3" id="menuList">
        <li><%= link_to "Posts", posts_path %></li>
        <li><%= link_to "About", posts_path %></li>
      </ul>
    </nav>
    <img src="https://raw.githubusercontent.com/samdungedup/blog/07d5d3eeaeee0d336efd73ec48495c919d67bcdf/app/assets/images/menu.svg" onclick="toggleMenu()" class= "menu-icon">
  </div>
</div>

<script>

  var menuList = document.getElementById("menuList");

  menuList.style.maxHeight = "0px";

  function toggleMenu(){

    if(menuList.style.maxHeight == "0px")
      {
        menuList.style.maxHeight = "130px";
      }
    else
      {
        menuList.style.maxHeight = "0px";
      }
  }

  </script>
