<div class="container">
  <div class="wrapper">
    <!-- single image row-->
    <figure>
      <div class="post-image"><%= image_tag "photography.jpg" %></div>
    </figure>
    <!-- double image row-->
    <figure>
      <div class="post-image"><%= image_tag "web.jpg" %></div>
      <div class="post-image"> <%= image_tag "walk.jpg" %></div>
    </figure>
    <!-- triple image row-->
    <figure>
      <div class="post-image"><img src="https://unsplash.it/375/250/?random"/></div>
      <div class="post-image"><img src="https://unsplash.it/396/264/?random"/></div>
      <div class="post-image"><img src="https://unsplash.it/399/266/?random"/></div>
    </figure>
  </div>
</div>
