<div class="container">
  <h1>Blog Index</h1>
    <h2>Posts</h2>
      <div class="cards">
        <div class="row">
          <% @posts.each_with_index do |post, key| %>
            <div class="card col-sm-6 col-lg-3 p-0 m-3">
              <%= cl_image_tag post.photo.key, class: "card-imgs" %>
              <%= link_to post_path(post) do %>
                <h5 class="card-title ms-3 mt-3"><%= post.title %></h5>
              <% end %>
              <p class="card-content ms-3">
              <%= post.content ? post.content.truncate(35) : "" %>
              </p>
            </div>
            <% end %>
          </div>
    </div>
</div>
