<div class="container">
  <div class="blog-photo mt-5">
    <%= cl_image_tag @post.photo.key, crop: :scale %>
  </div>
  <div class="content">
    <h1><%= @post.title %></h1>
      <%= @post.content %>
        <%= link_to "Edit", edit_post_path(@post)  %>
  </div>
</div>
