.card-imgs{
  height: 100%;
  width: 100%;
}

.card-title{
  text-decoration: none !important;
  color: black;
}

.cards-space{
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px;
  column-gap: 100px;
  row-gap: 15px;
  margin-left: 30px;
}

.category-section{
  background-color: #212529;
    h4{
      font-size: 14px;
      color: azure;
      text-align: right;
      margin-right: 10px;
      margin-top: 5px;
    }
}

@media only screen and (max-width:700px){
  .cards-space{
    margin-left: 0;
    margin-right: 10px;
  }
}
