.images{
display: flex;
flex-wrap: wrap;
align-items: flex-start;
flex-direction: row;
}

.walk-img{
  width: 350px;
  height: 600px;
  margin-top: 15px;
}

.photography-img{
  width: 900px;
  height: 200px;
  margin-top: 15px;
}

.coding-img{
  width: 450px;
  height: 230px;
}

.music-img{
  width: 450px;
  height: 230px;
}
