.wrapper {
  margin: 5em auto 0 auto;
  max-width: 1000px;
}

img {
  max-width: 100%;
  display: block;
}
figure {
  margin-bottom: 1.8em;
  display: flex;
  justify-content: space-between;
}
.post-image:nth-last-child(n+2):nth-last-child(-n+2):first-child,
.post-image:nth-last-child(n+2):nth-last-child(-n+2):first-child ~ .post-image {
  flex: 0 1 48%;
}
.post-image:nth-last-child(n+3):nth-last-child(-n+3):first-child,
.post-image:nth-last-child(n+3):nth-last-child(-n+3):first-child ~ .post-image {
  flex: 0 1 31%;
}
